services:  
  postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "highload"
      POSTGRES_USER: "pguser"
      POSTGRES_PASSWORD: "pgpassword"
    ports:
      - "5432:5432"

  openapi-generator:
    image: openapitools/openapi-generator-cli
    container_name: openapi-generator
    entrypoint: >
      sh -c "
        rm -rf /local/api &&
        openapi-generator generate
        -i /local/openapi/openapi.json
        -g rust-axum
        -o /local/api
      "
    volumes:
      - .:/local      