services:
  postgres-master:
    image: postgres:13.3
    container_name: postgres-master
    environment:
      POSTGRES_DB: "highload"
      POSTGRES_USER: "pguser"
      POSTGRES_PASSWORD: "pgpassword"
      PG_REPLICA_SLOTS: "replica_slot1,replica_slot2"
    ports:
      - "5432:5432"
    volumes:
      - postgres-master-data:/var/lib/postgresql/data
      - ./db-config/init-master.sh:/docker-entrypoint-initdb.d/init-master.sh
      - ./db-config/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db-config/data/people.v2.csv:/docker-entrypoint-initdb.d/data.csv
      - ./db-config/data/posts.txt:/docker-entrypoint-initdb.d/posts.txt
    deploy:
      resources:
        limits: 
          cpus: '1'  
          memory: '500M'

  postgres-replica-1:
    image: postgres:13.3
    container_name: postgres-replica-1
    environment:
      POSTGRES_DB: "highload"
      POSTGRES_USER: "pguser"
      POSTGRES_PASSWORD: "pgpassword"
      REPLICATOR_PASSWORD: "replicator_password"
      PGUSER: "pguser"
      PG_SLOT: "replica_slot1"
    ports:
      - "5433:5432"
    volumes:
      - postgres-replica-1-data:/var/lib/postgresql/data
      - ./db-config/init-replica.sh:/usr/local/bin/init-and-run-replica.sh
    deploy:
      resources:
        limits: 
          cpus: '0.8'  
          memory: '100M'
    depends_on:
      - postgres-master
    command: ["/usr/local/bin/init-and-run-replica.sh"]
  postgres-replica-2:
    image: postgres:13.3
    container_name: postgres-replica-2
    environment:
      POSTGRES_DB: "highload"
      POSTGRES_USER: "pguser"
      POSTGRES_PASSWORD: "pgpassword"
      REPLICATOR_PASSWORD: "replicator_password"
      PGUSER: "pguser"
      PG_SLOT: "replica_slot2"
    ports:
      - "5434:5432"
    volumes:
      - postgres-replica-2-data:/var/lib/postgresql/data
      - ./db-config/init-replica.sh:/usr/local/bin/init-and-run-replica.sh
    deploy:
      resources:
        limits: 
          cpus: '0.8'  
          memory: '100M'
    depends_on:
      - postgres-master
    command: ["/usr/local/bin/init-and-run-replica.sh"]

  redis:
    image: redis:7-alpine
    container_name: redis_app
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    command: redis-server --requirepass secure_password --appendonly yes

  pgpool:
    image: pgpool/pgpool:latest
    ports:
      - "5435:5432"
      - "9898:9898"
    environment:      
      PGPOOL_POSTGRES_USER: "pguser"
      PGPOOL_POSTGRES_PASSWORD: "pgpassword"
      PGPOOL_PARAMS_LISTEN_ADDRESSES: '*'
      PGPOOL_PARAMS_PORT: 5432
      PGPOOL_PARAMS_PCP_PORT: 9898
      PGPOOL_PARAMS_ENABLE_LOAD_BALANCING: 'on'
      PGPOOL_PARAMS_LOAD_BALANCE_MODE: 'on'
      PGPOOL_PARAMS_STATEMENT_LEVEL_LOAD_BALANCE: 'on'
      PGPOOL_PARAMS_REPLICATION_MODE: 'streaming'
      PGPOOL_PARAMS_SR_CHECK_USER: 'pguser'
      PGPOOL_PARAMS_SR_CHECK_PASSWORD: 'pgpassword'
      PGPOOL_PARAMS_HEALTH_CHECK_USER: 'pguser'
      PGPOOL_PARAMS_FAILOVER_WHEN_QUORUM_EXISTS: 'off'
      PGPOOL_PARAMS_ENABLE_POOL_HBA: 'on'
      PGPOOL_PARAMS_POOL_PASSWD: '/usr/local/etc/pool_passwd'
      PGPOOL_PARAMS_AUTHENTICATION_METHOD: 'scram-sha-256'      
      PGPOOL_PARAMS_DELAY_THRESHOLD: 0
      PGPOOL_PARAMS_LOG_STATEMENT: 'on'
      PGPOOL_PARAMS_LOG_PER_NODE_STATEMENT: 'on'
      PGPOOL_PARAMS_LOG_CONNECTIONS: 'on'
      PGPOOL_PARAMS_LOG_MIN_MESSAGES: 'info'
      PGPOOL_PARAMS_FAILOVER_COMMAND: '/usr/local/bin/failover.sh %d %h'

      PGPOOL_PARAMS_BACKEND_HOSTNAME0: 'postgres-master'
      PGPOOL_PARAMS_BACKEND_PORT0: 5432
      PGPOOL_PARAMS_BACKEND_WEIGHT0: 1
      PGPOOL_PARAMS_BACKEND_DATA_DIRECTORY0: '/var/lib/postgresql/data'
      PGPOOL_PARAMS_BACKEND_FLAG0: 'ALLOW_TO_FAILOVER'

      PGPOOL_PARAMS_BACKEND_HOSTNAME1: 'postgres-replica-1'
      PGPOOL_PARAMS_BACKEND_PORT1: 5432
      PGPOOL_PARAMS_BACKEND_WEIGHT1: 1
      PGPOOL_PARAMS_BACKEND_DATA_DIRECTORY1: '/var/lib/postgresql/data'
      PGPOOL_PARAMS_BACKEND_FLAG1: 'ALLOW_TO_FAILOVER'

      PGPOOL_PARAMS_BACKEND_HOSTNAME2: 'postgres-replica-2'
      PGPOOL_PARAMS_BACKEND_PORT2: 5432
      PGPOOL_PARAMS_BACKEND_WEIGHT2: 1
      PGPOOL_PARAMS_BACKEND_DATA_DIRECTORY2: '/var/lib/postgresql/data'
      PGPOOL_PARAMS_BACKEND_FLAG2: 'ALLOW_TO_FAILOVER'            
    volumes:
    - ./db-config/pool_passwd:/usr/local/etc/pool_passwd  
    - ./db-config/failover.sh:/usr/local/bin/failover.sh    
    depends_on:
      - postgres-master
      - postgres-replica-1
      - postgres-replica-2

volumes:
  postgres-master-data:
  postgres-replica-1-data:
  postgres-replica-2-data:
