services:  
  postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "highload"
      POSTGRES_USER: "pguser"
      POSTGRES_PASSWORD: "pgpassword"
    ports:
      - "5432:5432"

  application:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - postgres
