global
    stats socket /tmp/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s
    log global

# frontend http_front
#     bind *:80
#     default_backend web_servers

backend web_servers
    balance roundrobin
    server server1 127.0.0.1:3001 check

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
